.foto_perfil {
    border-radius: 5%;
    max-width: 200px;
    border: 1px solid black;
}

body {
    background-color: black;
    width: 100%;
    color: red;
    text-align: center;
    min-height: 100vh;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 50%;
    overflow-y: scroll;
    height: 90vh;
    padding: 15px 2%;
    box-shadow: 0 0 5px red;
}

.container::-webkit-scrollbar{
    width: 14px;
    border: 1px solid red;
}

.container::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 6px;
}

.dado1 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 5px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.dado1::after{
    color: white;
    content: "GUILHERME OZOGOVSKI";
    font-size: 1.4em;
    padding: 0 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr1 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr1::after {
    color: white;
    content: "Objetivo";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr2 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr2::after {
    color: white;
    content: "Resumo";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr3 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr3::after {
    color: white;
    content: "Cursos";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr4 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr4::after {
    color: white;
    content: "Experiência";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr5 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr5::after {
    color: white;
    content: "Ferramentas";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr6 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr6::after {
    color: white;
    content: "Idiomas";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr7 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr7::after {
    color: white;
    content: "Linguagens";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.hr8 {
    border-top: medium dashed red;
    border-bottom: medium dashed red;
    height: 3px;
    overflow: visible;
    padding: 0;
    text-align: center;
}

.hr8::after {
    color: white;
    content: "Redes Sociais";
    font-size: 1.4em;
    padding: 0 0.3em;
    top: -0.7em;
    background: black;
    display: inline;
    position: relative;
}

.infe {
    color: red;
    cursor:pointer;
    margin: 5px;
    max-height: 100%;
    transition: all 0.3s;
}

.infe:hover {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: white
}

.secret {
    color: red;
    text-decoration:none;
    cursor:auto;
}